.DS_Store
TaskPaper_CLI/src/cli/__pycache__/__init__.cpython-313.pyc
TaskPaper_CLI/src/cli/__pycache__/argument_parser.cpython-313.pyc
TaskPaper_CLI/src/cli/__pycache__/command_handler.cpython-313.pyc
TaskPaper_CLI/src/cli/__pycache__/main.cpython-313.pyc
TaskPaper_CLI/src/helpers/__pycache__/__init__.cpython-313.pyc
TaskPaper_CLI/src/helpers/__pycache__/help_manager.cpython-313.pyc
TaskPaper_CLI/src/managers/__pycache__/__init__.cpython-313.pyc
TaskPaper_CLI/src/managers/__pycache__/file_manager.cpython-313.pyc
TaskPaper_CLI/src/managers/__pycache__/task_manager.cpython-313.pyc
TaskPaper_CLI/src/managers/__pycache__/tag_manager.cpython-313.pyc
TaskPaper_CLI/src/__pycache__/__init__.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/__init__.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_argument_parser.cpython-313.pyc
TaskPaper_CLI/src/managers/__pycache__/undo_manager.cpython-313.pyc
TaskPaper_CLI/src/managers/__pycache__/batch_manager.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_command_handler.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_add_project.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_data_readwrite.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_rename_project.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_list_projects.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_delete_project.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_add_task.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_edit_task.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_delete_task.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_move_task.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_add_tag.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_remove_tag.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_list_tags.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_list_overdue.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_batch_operations.cpython-313.pyc
TaskPaper_CLI/tests/__pycache__/test_list_tasks.cpython-313.pyc
